body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.pseudo {
    font-weight: bold;
    color: blue;
}

.admin {
    color: red !important;
}


.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

#forum {
    text-align: left;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.message {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.pseudo {
    font-weight: bold;
    color: blue;
}
